body
{
	font-family: 'DM Sans', sans-serif;
}

.sidebar-left
{
	width: 378px;
	height: 100vh;
	z-index: 10;
	background: linear-gradient(172.51deg, rgba(24, 86, 246, 0.08) 2.82%, rgba(24, 86, 246, 0.04) 40.65%, rgba(126, 126, 126, 0.06) 56.05%, rgba(238, 155, 155, 0.06) 83.05%);

}

.sidebar-left.sidebar-collapsed
{
	width: 60px;
}

.px-6
{
	padding-right: 24px;
	padding-left: 24px;
}

.pb-10
{
	padding-bottom: 40px;
}

.px-10
{
	padding-right: 40px;
	padding-left: 40px;
}

.px-8
{
	padding-right: 32px;
	padding-left: 32px;
}

.py-8
{
	padding-top: 32px;
	padding-bottom: 32px;
}

.mt-8
{
	margin-top: 32px;
}

.badge-red
{
	min-width: 24px;
	min-height: 24px;
	background: linear-gradient(180deg, #FF5959 0%, #EF2C2C 100%);
	border-radius: 24px;
	text-align: center;
	color: white;
	font-family: DM Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: center;
	padding-top: 2px;

}

.profil-bloc
{
	width: 142px;
	color: #5A6474;
}
.profil-bonjour
{
	font-weight: 400;
	font-size: 18px;

}
.profil-name
{
	font-weight: 700;
	font-size: 24px;
}

.btn.btn-secondary
{
	border: 1px solid #E1E3E6;
	background-color: white;
	border-radius: 8px;
	height: 48px;
	width: 64px;
	box-shadow: 0px 4px 2px -2px #1B2E5E05;
}

.btn.btn-primary.btn-lg
{
	display: inline;
	height: 48px;
	border-radius: 8px;
	font-size: 16px;
	font-weight: 500;
	background: linear-gradient(180deg, #6989FE 0%, #3C64F4 100%);
	border:none;
}
.btn.btn-primary.btn-lg:hover
{
	background: linear-gradient(180deg, #4C72FF 0%, #3C64F4 100%);
}

.btn-icon.btn-lg
{
	height: 48px;
	width: 48px;
	padding:12px;
	border-radius: 8px;
	display: flex;
}
.btn-icon.btn-lg:hover
{
	background-color: #4E73F822;
}
.btn.btn-tertiary.btn-lg, .btn.btn-primary.btn-lg
{
	    display: flex;
    align-items: center;
}

.dropdown-menu
{
	background-color: white;
	box-shadow: 0px 8px 24px -4px #1B2E5E14;
	border: 1px solid #E1E3E6;
	border-radius: 8px;
	padding: 24px 16px;
}

.dropdown-item
{
	color: #5A6474;
	font-size: 18px;
	line-height: 24px;
}
.dropdown-item.active
{
	color: #5A6474;
}
.dropdown-item.active, .dropdown-item:hover
{
	background-color: #4E73F822;
}

.btn.btn-tertiary.btn-lg
{
	color: #4E73F8;
	font-weight: 500;
	font-size: 16px;
	height: 48px;
	padding-top: 12px;
	padding-bottom: 10px;
	border-radius: 8px;
}

.btn.btn-tertiary.dropdown-toggle::after
{
	display: none;
}
.btn.btn-tertiary:hover
{
	border-color: #E1E3E6;
}

.form-select.form-select-lg
{
	height: 48px;
	width: 200px;
	border: 1px solid #E1E3E6;
	border-radius:8px;
	padding-top: 10px;
}
.form-select
{
	color: #757D8A;
	font-size: 18px;
}

.form-control, .form-control:focus
{
	border: 1px solid #E1E3E6;
	border-radius:8px;
	color: #757D8A;
	font-size: 16px;
}

textarea
{
	resize: none;
}

.btn-toggle::after {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
  position: absolute;
  left: 314px;
  width: 24px;
  height: 24px;
  padding-top: 4px;
}

.img-24
{
	width: 24px;
	height: 24px;
}
.btn:focus
{
	box-shadow: none;
}

.btn-toggle.btn-menu, .btn-link.link-dark, .btn-toggle-nav a
{
	width: 330px;
	border: 4px solid transparent;
	border-radius: 12px;
	background-color: transparent;
	padding: 8px 16px;
}
.btn-toggle.btn-menu:hover, .btn-toggle.btn-menu:focus, .btn-toggle-nav a:hover,.btn-toggle-nav a:focus
{
	border: 4px solid #4E73F833;
	background-color: transparent;
}

.btn-toggle[aria-expanded="true"]::after {
  transform: rotate(90deg) translate(-2px,-2px);
}

.btn-link.link-dark
{
	font-family: DM Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
	color: #757D8A;
}

.btn-toggle-nav a
{
	margin-left: 0rem;
}

.menu-items
{
	height: calc(100vh - 334px);
}

nav
{
	margin-top: 56px;
}
.breadcrumb
{
	height: 24px;
}
.breadcrumb-item a
{
	color: #8C94A0;
	text-decoration: none;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
}

.breadcrumb-item.active
{
	color: #4E73F8;
	font-weight: 700;
	font-size: 18px;
}

.titre
{
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	margin: auto 0;

}

.panel-spec
{
	background-color: white;
	box-shadow: 0px 8px 24px -4px #1B2E5E1F;
}

.nav-tabs, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover
{
	border-color: transparent;
}

/*.nav-link.active:after
{
	content: "tet";
	width: 100%;
	height: 1px;
	background-color: #404D6199;
}*/

.nav-link
{
	color: #404D6199;
}

.nav-tabs .nav-link.active, .nav-link:hover
{
	color: #404D61;
	text-decoration-line: underline;
	text-decoration-color: #404D61;
	text-decoration-thickness: 2px;
	text-underline-offset: 8px;
}


