{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Handoff.io</title>

    
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sidebars/">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
    

    <link href="{% static 'handoff_app/css/style.css' %}" rel="stylesheet">
        <!-- Bootstrap core CSS -->
    <link href="{% static 'handoff_app/css/bootstrap.min.css' %}" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="{% static 'handoff_app/css/sidebars.css' %}" rel="stylesheet">
    <link href="{% static 'handoff_app/css/css_perso.css' %}" rel="stylesheet">
  
</head>
<body>
    {% block content %}

    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="{% static 'handoff_app/js/script.js' %}"></script>
    <script src="{% static 'handoff_app/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'handoff_app/js/sidebars.js' %}"></script>
    <script src="{% static 'handoff_app/js/script_display.js' %}" type="text/javascript"></script>
    
    {% block js %}

    {% endblock %}
</body>
</html>