{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- <button onclick="collapseSidePanel();">Collapse</button> -->
  <div class="d-flex" style="position: absolute;">
    <!-- begin:sidebar -->
    <div class="flex-shrink-0 shadow px-6 py-8 bg-light sidebar-left">
      <a href="/" class="d-flex align-items-center pb-10 link-dark text-decoration-none">
        <img src="./static/handoff_app/img/profil.png">
        <div class="profil-bloc ms-3">
          <div class="profil-bonjour">bonjour, </div>
          <div class="profil-name">Léa Houtte</div>
        </div>
        <span class="badge-red ms-3">5</span>
        <button class="btn btn-secondary ms-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.3745 20H12.6255V19.233C12.6255 18.298 13.2005 17.458 14.0895 17.091C15.0095 16.708 16.0145 16.896 16.6765 17.562L17.2155 18.103L18.1035 17.215L17.5585 16.671C16.8955 16.009 16.7085 15.005 17.0815 14.114C17.0815 14.114 17.0825 14.113 17.0825 14.112L17.0935 14.084C17.4575 13.201 18.2985 12.625 19.2335 12.625H19.9995V11.375H19.2335C18.2985 11.375 17.4575 10.8 17.0915 9.911C16.7065 8.991 16.8955 7.986 17.5615 7.323L18.1025 6.784L17.2155 5.897L16.6705 6.442C16.0085 7.104 15.0055 7.291 14.1145 6.919C13.2015 6.542 12.6255 5.702 12.6255 4.767V4H11.3745V4.767C11.3745 5.702 10.7995 6.542 9.91051 6.909C8.99151 7.294 7.98651 7.105 7.32351 6.438L6.78451 5.897L5.89651 6.785L6.44151 7.329C7.10351 7.991 7.29151 8.995 6.91851 9.886C6.54251 10.799 5.70151 11.375 4.76651 11.375H3.99951V12.625H4.76651C5.70151 12.625 6.54251 13.2 6.90851 14.089C7.29351 15.009 7.10451 16.014 6.43851 16.677L5.89751 17.216L6.78451 18.103L7.32951 17.558C7.99151 16.896 8.99451 16.709 9.88551 17.081C10.7985 17.458 11.3745 18.298 11.3745 19.233V20ZM12.9425 22H11.0505C10.1265 22 9.37451 21.248 9.37451 20.324V19.233C9.37451 19.086 9.25751 18.985 9.14751 18.94C9.00351 18.881 8.84951 18.869 8.74351 18.972L7.97351 19.743C7.31751 20.397 6.25151 20.399 5.59651 19.743L4.25651 18.403C3.93851 18.085 3.76451 17.663 3.76451 17.213C3.76551 16.764 3.94051 16.342 4.25951 16.024L5.02751 15.259C5.13251 15.154 5.12151 15 5.07451 14.889C5.01451 14.742 4.91451 14.625 4.76651 14.625H3.68251C2.75451 14.625 1.99951 13.871 1.99951 12.943V11.051C1.99951 10.126 2.75151 9.375 3.67651 9.375H4.76651C4.91351 9.375 5.01451 9.257 5.05951 9.147C5.11951 9.003 5.13151 8.848 5.02751 8.744L4.25651 7.974C3.60251 7.317 3.60251 6.251 4.25651 5.597L5.59651 4.257C5.91451 3.939 6.33551 3.765 6.78451 3.765H6.78651C7.23551 3.765 7.65851 3.94 7.97551 4.259L8.74051 5.028C8.84551 5.134 9.00051 5.122 9.11151 5.075C9.25751 5.014 9.37451 4.914 9.37451 4.767V3.683C9.37451 2.755 10.1295 2 11.0575 2H12.9495C13.8735 2 14.6255 2.752 14.6255 3.676V4.767C14.6255 4.914 14.7425 5.015 14.8525 5.06C14.9975 5.12 15.1515 5.133 15.2565 5.028L16.0265 4.257C16.6825 3.603 17.7485 3.601 18.4035 4.257L19.7445 5.598C20.0625 5.915 20.2365 6.337 20.2355 6.787C20.2355 7.235 20.0605 7.658 19.7415 7.975L18.9725 8.741C18.8675 8.846 18.8785 9 18.9255 9.111C18.9855 9.258 19.0855 9.375 19.2335 9.375H20.3175C21.2455 9.375 21.9995 10.129 21.9995 11.057V12.949C21.9995 13.874 21.2485 14.625 20.3235 14.625H19.2335C19.0865 14.625 18.9855 14.743 18.9405 14.853C18.9395 14.854 18.9275 14.884 18.9265 14.886C18.8805 14.997 18.8685 15.152 18.9725 15.256L19.7435 16.026C20.3975 16.683 20.3975 17.749 19.7435 18.403L18.4035 19.743C18.0855 20.061 17.6645 20.235 17.2155 20.235H17.2135C16.7645 20.235 16.3415 20.06 16.0245 19.741L15.2595 18.972C15.1545 18.867 14.9985 18.879 14.8885 18.925C14.7425 18.986 14.6255 19.086 14.6255 19.233V20.317C14.6255 21.245 13.8705 22 12.9425 22ZM12 10.5C11.173 10.5 10.5 11.173 10.5 12C10.5 12.827 11.173 13.5 12 13.5C12.827 13.5 13.5 12.827 13.5 12C13.5 11.173 12.827 10.5 12 10.5ZM12 15.5C10.07 15.5 8.50001 13.93 8.50001 12C8.50001 10.07 10.07 8.5 12 8.5C13.93 8.5 15.5 10.07 15.5 12C15.5 13.93 13.93 15.5 12 15.5Z" fill="#757D8A"/>
          </svg>
        </button>
      </a>
      
      <ul class="menu-items list-unstyled ps-0">
        <li class="mb-3">
          <button class="btn btn-toggle btn-menu align-items-center collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
            <img src="./static/handoff_app/img/sncf-logo-48.png" class="me-3 img-24">SNCF
          </button>
          <div class="collapse" id="home-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="#" class="link-dark rounded">Overview</a></li>
              <li><a href="#" class="link-dark rounded">Updates</a></li>
              <li><a href="#" class="link-dark rounded">Reports</a></li>
            </ul>
          </div>
        </li>
        <li class="mb-3">
          <button class="btn btn-toggle btn-menu align-items-center collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
            <img src="./static/handoff_app/img/nike-logo-48.png" class="me-3 img-24">Nike
          </button>
          <div class="collapse" id="dashboard-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="#" class="link-dark rounded">Overview</a></li>
              <li><a href="#" class="link-dark rounded">Weekly</a></li>
              <li><a href="#" class="link-dark rounded">Monthly</a></li>
              <li><a href="#" class="link-dark rounded">Annually</a></li>
            </ul>
          </div>
        </li>
        <li class="mb-3">
          <button class="btn btn-toggle btn-menu align-items-center collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
            <img src="./static/handoff_app/img/decathlon-logo-48.png" class="me-3 img-24">Decathlon
          </button>
          <div class="collapse" id="orders-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="#" class="link-dark rounded">New</a></li>
              <li><a href="#" class="link-dark rounded">Processed</a></li>
              <li><a href="#" class="link-dark rounded">Shipped</a></li>
              <li><a href="#" class="link-dark rounded">Returned</a></li>
            </ul>
          </div>
        </li>
        <li class="mb-3">
          <button class="btn btn-toggle btn-menu align-items-center collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
            <img src="./static/handoff_app/img/starbucks-logo-48.png" class="me-3 img-24">Starbucks
          </button>
          <div class="collapse" id="account-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="#" class="link-dark rounded">New...</a></li>
              <li><a href="#" class="link-dark rounded">Profile</a></li>
              <li><a href="#" class="link-dark rounded">Settings</a></li>
              <li><a href="#" class="link-dark rounded">Sign out</a></li>
            </ul>
          </div>
        </li>
      </ul>

        <ul class="btn-toggle-nav list-unstyled mb-0">
            <li>
              <a href="#" class="btn btn-link link-dark">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.0002 10.9993C7.0002 10.4473 7.4482 9.99927 8.0002 9.99927C8.5522 9.99927 9.0002 10.4473 9.0002 10.9993C9.0002 11.5513 8.5522 11.9993 8.0002 11.9993C7.4482 11.9993 7.0002 11.5513 7.0002 10.9993ZM12.0002 9.99927C11.4482 9.99927 11.0002 10.4473 11.0002 10.9993C11.0002 11.5513 11.4482 11.9993 12.0002 11.9993C12.5522 11.9993 13.0002 11.5513 13.0002 10.9993C13.0002 10.4473 12.5522 9.99927 12.0002 9.99927ZM16.0002 9.99927C15.4482 9.99927 15.0002 10.4473 15.0002 10.9993C15.0002 11.5513 15.4482 11.9993 16.0002 11.9993C16.5522 11.9993 17.0002 11.5513 17.0002 10.9993C17.0002 10.4473 16.5522 9.99927 16.0002 9.99927ZM19.8986 12.2942C19.3916 15.5482 16.7686 18.2472 13.5196 18.8562C11.9506 19.1522 10.3526 18.9832 8.9026 18.3692C8.4916 18.1952 8.0666 18.1072 7.6496 18.1072C7.4596 18.1072 7.2716 18.1252 7.0866 18.1622L4.2746 18.7242L4.8376 15.9072C4.9556 15.3222 4.8836 14.6962 4.6306 14.0972C4.0166 12.6472 3.8486 11.0502 4.1436 9.48017C4.7526 6.23117 7.4506 3.60817 10.7056 3.10117C13.2956 2.69817 15.8286 3.51417 17.6566 5.34217C19.4856 7.17117 20.3026 9.70517 19.8986 12.2942ZM19.0716 3.92817C16.7866 1.64417 13.6266 0.625171 10.3976 1.12417C6.3206 1.76017 2.9406 5.04417 2.1776 9.11117C1.8096 11.0692 2.0216 13.0632 2.7886 14.8762C2.8856 15.1072 2.9156 15.3222 2.8776 15.5152L2.0196 19.8032C1.9536 20.1312 2.0566 20.4702 2.2936 20.7062C2.4826 20.8962 2.7376 20.9992 3.0006 20.9992C3.0656 20.9992 3.1306 20.9932 3.1966 20.9802L7.4796 20.1232C7.7256 20.0762 7.9636 20.1452 8.1226 20.2112C9.9376 20.9782 11.9316 21.1892 13.8876 20.8222C17.9556 20.0592 21.2396 16.6792 21.8756 12.6022C22.3776 9.37517 21.3566 6.21317 19.0716 3.92817Z" fill="#757D8A"/>
                </svg>
                <span class="ms-3">Support</span>
              </a>
            </li>
            <li>
              <a href="#" class="btn btn-link link-dark">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8 5C8 5.55 7.55 6 7 6H6V18H7C7.55 18 8 18.45 8 19C8 19.55 7.55 20 7 20H5C4.45 20 4 19.55 4 19V5C4 4.45 4.45 4 5 4H7C7.55 4 8 4.45 8 5ZM18.0039 7.4248L20.8179 11.4248C21.0679 11.7788 21.0599 12.2538 20.7999 12.5998L17.7999 16.5998C17.6039 16.8618 17.3029 16.9998 16.9989 16.9998C16.7909 16.9998 16.5799 16.9348 16.3999 16.7998C15.9579 16.4688 15.8689 15.8418 16.1999 15.4008L18.0009 12.9998H17.9999H9.9999C9.4479 12.9998 8.9999 12.5528 8.9999 11.9998C8.9999 11.4468 9.4479 10.9998 9.9999 10.9998H17.9999C18.0164 10.9998 18.0317 11.0044 18.0472 11.0089C18.0598 11.0127 18.0724 11.0165 18.0859 11.0178L16.3679 8.5748C16.0499 8.1238 16.1589 7.4998 16.6109 7.1818C17.0619 6.8628 17.6859 6.9728 18.0039 7.4248Z" fill="#757D8A"/>
                </svg>
                <span class="ms-3">Se déconnecter</span>
              </a>
            </li>
            <li>
              <a href="#" onclick="collapseSidePanel();" class="btn btn-link link-dark">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M18.7685 6.64031L14.2925 12.0113L18.6075 17.3733C18.9535 17.8033 18.8855 18.4323 18.4555 18.7793C18.2705 18.9283 18.0485 19.0003 17.8285 19.0003C17.5365 19.0003 17.2465 18.8723 17.0485 18.6273L12.2205 12.6273C11.9225 12.2563 11.9265 11.7253 12.2315 11.3603L17.2315 5.36031C17.5855 4.93531 18.2155 4.87931 18.6405 5.23231C19.0645 5.58531 19.1215 6.21631 18.7685 6.64031ZM10.2321 5.36001C10.5851 4.93601 11.2151 4.87901 11.6401 5.23201C12.0641 5.58601 12.1211 6.21601 11.7681 6.64001L7.2921 12.011L11.6071 17.373C11.9531 17.803 11.8851 18.433 11.4551 18.779C11.2701 18.928 11.0491 19 10.8281 19C10.5361 19 10.2461 18.873 10.0491 18.627L5.2211 12.627C4.9221 12.256 4.9271 11.726 5.2321 11.36L10.2321 5.36001Z" fill="#757D8A"/>
                </svg>
                <span class="ms-3">Replier le menu</span>
                <!-- <button onclick="collapseSidePanel();">Collapse</button> -->
              </a>
            </li>
        </ul>
    </div>
    <!-- end:sidebar -->


  </div>
  <main style="padding-left: 378px;">
    <div class="container-fluid ms-0 px-10" style="width: calc(100vw - 778px)">

    <!-- begin:breadcrumb -->

      <nav aria-label="breadcrumb" style=" width: calc(100vw - 858px); z-index: 8">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Parcours apprenant</a></li>
          <li class="breadcrumb-item active" aria-current="page">Accueil</li>
        </ol>
      </nav>

    <!-- begin:breadcrumb -->

        <div class="row mb-4">
          <div class="col-12 d-flex justify-content-between">
            <select class="form-select form-select-lg" aria-label=".form-select-lg example">
              <option selected>Version 1</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
            <div class="d-flex">
              <button type="button" class="btn btn-outline-primary btn-icon btn-lg">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5 14.5996V9.4006L14.309 11.9996L11.5 14.5996ZM12.339 7.4526C11.841 6.9906 11.114 6.8706 10.488 7.1456C9.878 7.4116 9.5 7.9806 9.5 8.6296V15.3706C9.5 16.0196 9.878 16.5886 10.488 16.8546C10.711 16.9526 10.948 16.9996 11.181 16.9996C11.604 16.9996 12.019 16.8446 12.338 16.5486L15.98 13.1786C16.311 12.8726 16.5 12.4436 16.5 11.9996C16.5 11.5566 16.311 11.1266 15.98 10.8216L12.339 7.4526ZM12 20C7.589 20 4 16.411 4 12C4 7.589 7.589 4 12 4C16.411 4 20 7.589 20 12C20 16.411 16.411 20 12 20ZM12 2C6.486 2 2 6.486 2 12C2 17.514 6.486 22 12 22C17.514 22 22 17.514 22 12C22 6.486 17.514 2 12 2Z" fill="#4E73F8"/>
                </svg>
              </button>
              <button type="button" class="btn btn-primary btn-lg ms-1">
                <div class="me-2" style="line-height: 24px;">Ajouter une zone</div>
                <img src="./static/handoff_app/img/plus.svg">
              </button>
            </div>
          </div>
        </div>
      <div style="padding-right: 400px;">
        <img id="mockup" class="img-thumbnail" style="width: calc(100vw - 858px); position: absolute;" src="./static/handoff_app/img/image1.png">
        <canvas id="mockup-canvas" style=" position: absolute;" width="250" height="250">ici mon canva</canvas>
      </div>
    </div>

     <!-- begin:panel droite -->
    <div class="container panel-spec px-8" style="position: fixed; right: 0; width: 400px; height: 100vh;">
      <div class="row mt-8">
        <div class="col-12">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Maquette</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Recette</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row mt-4">
            <div class="col-12 d-flex justify-content-between">
              <h1 class="titre">Description générale</h1>
              <button type="button" class="btn btn-outline-primary btn-icon btn-lg">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 4C10.897 4 10 4.897 10 6V11C10 12.103 10.897 13 12 13C13.103 13 14 12.103 14 11V6C14 4.897 13.103 4 12 4ZM16 11C16 13.206 14.206 15 12 15C9.794 15 8 13.206 8 11V6C8 3.794 9.794 2 12 2C14.206 2 16 3.794 16 6V11ZM18 10C18.553 10 19 10.448 19 11C19 14.52 16.387 17.432 13 17.92V20H15.105C15.598 20 16 20.402 16 20.895V21.105C16 21.598 15.598 22 15.105 22H8.895C8.402 22 8 21.598 8 21.105V20.895C8 20.402 8.402 20 8.895 20H11V17.92C7.613 17.432 5 14.52 5 11C5 10.448 5.447 10 6 10C6.553 10 7 10.448 7 11C7 13.757 9.243 16 12 16C14.757 16 17 13.757 17 11C17 10.448 17.447 10 18 10Z" fill="#4E73F8"/>
                </svg>
              </button>
            </div>
      </div>
      <div class="row mt-2">
        <div class="col-12 mt-2">
          <form id="js-spec-form" method="POST">{% csrf_token %}
            <div class="col-12">
              <input type="hidden" name="rectangleLocalization">
              <input type="hidden" name="django_object_id" >
            </div>
            <div class="col-12">
              <div class="">
                <textarea name="description" class="form-control"  id="id_description" rows="3"></textarea>
              </div>
            </div>
            <div div class="col-12 mt-2">
              <button class="btn btn-tertiary btn-lg dropdown-toggle" type="submit" name="action" value="add_comment_content">
                <div class="ms-2" style="line-height: 24px;">Enregistrer la description</div>
              </button>          
            </div>
          </form>
        </div> 
        <div class="col-12 mt-2">
          <ul class="list-group">
            {% for information in informations_from_description_area_data %}
            <li class="list-group-item">{{ information.comment_content }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-12 mt-2">
        <div class="dropdown">
          <button class="btn btn-tertiary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
            <!-- <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M15 11H13V9C13 8.45 12.55 8 12 8C11.45 8 11 8.45 11 9V11H9C8.45 11 8 11.45 8 12C8 12.55 8.45 13 9 13H11V15C11 15.55 11.45 16 12 16C12.55 16 13 15.55 13 15V13H15C15.55 13 16 12.55 16 12C16 11.45 15.55 11 15 11ZM12 20C7.589 20 4 16.411 4 12C4 7.589 7.589 4 12 4C16.411 4 20 7.589 20 12C20 16.411 16.411 20 12 20ZM12 2C6.486 2 2 6.486 2 12C2 17.514 6.486 22 12 22C17.514 22 22 17.514 22 12C22 6.486 17.514 2 12 2Z" fill="#4E73F8"/>
            </svg></span> -->
            <img src="./static/handoff_app/img/plus-circle.svg">
            <div class="ms-2" style="line-height: 24px;">Ajouter un bloc</div>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
            <li><a class="dropdown-item active mb-2" href="#">Texte</a></li>
            <li><a class="dropdown-item mb-2" href="#">Titre</a></li>
            <li><a class="dropdown-item mb-2" href="#">Liste des tâches</a></li>
            <li><a class="dropdown-item mb-2" href="#">Tableau</a></li>
            <li><a class="dropdown-item mb-2" href="#">Liste à puce</a></li>
            <li><a class="dropdown-item" href="#">Lien</a></li>
          </ul>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block js %}
  {{ description_areas|json_script:"description_areas" }}
  {{ id_description_area|json_script:"id_description_area" }}
  <script src="{% static 'handoff_app/js/mockup.js' %}"></script>
{% endblock %}
